@import "tailwindcss";


:root {
  --color-primary: #111827;
  --color-secondary: #F8F5F0;
  --color-accent: #B45309;
  --color-accent-hover: #92400E;
  --color-muted: #E5E1DA;
}


body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}